
html, 
body, 
#root {
  text-decoration: none;
  box-sizing: content-box;
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #f30202;
  color: #040403;
}

.header{
  min-width: 100vw;
  margin: 0;
  justify-content: center;
  box-sizing: content-box;
  min-width: 100vw;
  background-color:#f20404;
}

button {
  text-decoration: none;
  border-style: none;
  background-color:transparent;
}

h1 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #131212;
}

p {
  margin: 0;
 font-family: 'Ovo', serif;
 color: #f1efeb;
}

#profile{
  box-sizing: content-box;
  margin: 0;
  border-radius: 10px;
  padding: 1em;
  border-style: ridge;
  border-color: #f8e21b;
  background-color:#010101;
  box-shadow: 0 5px 5px #efcd37;
}

.wrapper .iconify {
  color: #060606;
  background-color:#ecf714;
  padding: 10px;
  width: 70px;
  height: 70px;
  text-decoration: none;
}

.uk-tile {
  margin: 0;
  padding: 1em;
  color: #f60505;
  border-style: ridge;
  border-color: #ecf714;
  background-color:#f4f0f0;
  box-shadow: 0 5px 5px #efef09;
  flex-shrink: inherit;
  box-sizing: content-box;
}

.uk-tile-footer {
  color: #e70505;
  border-radius: 10px;
  border-style: ridge;
}

.uk-container {
  margin: 0;
  min-width: 100vw;
  flex-shrink: inherit;
  box-sizing: content-box;
  background-color: #ecf714;
}

nav .uk-icon  { 
  border-radius: 0px 10px;
  padding: 1em;
  color: #f30202;
  border-style: ridge;
  border-color: #060605;
  background-color:#ecf714;
  box-shadow: 0 5px 5px #ecf714;
  text-decoration: none
}


.uk-overlay-primary h3 {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #f6f2f2;
  text-align: center;
  box-sizing: content-box;
  background-color: #e70505;
}

span .uk-badge {
  text-decoration: none;
  font-family: 'Ovo', serif;
  color: #f30202;
  text-align: center;
  box-sizing: content-box;
}

.footer {
  margin: 0;
  min-width: 100vw;
  background-color:#f30202;
}


